parameters:
    bootstrap: %rootDir%/../../../phpstan-bootstrap.php
    excludes_analyse:
        - 'library/Zend/EventManager/ResponseCollection.php'
        - 'library/Zend/Stdlib/SplPriorityQueue.php'
        - 'library/Zend/Tool/Framework/Provider/DocblockManifestable.php'
    ignoreErrors:
        # Level 0 errors that require code changes (or missing extensions/third party libs)
        - '#.+::__construct\(\) does not call parent constructor from .+\.#'
        - '#Access to an undefined property .+\.#'
        - '#Access to constant .+ on an unknown class Memcached\.#'
        - '#Array has [\d]+ duplicate keys with value .+\.#'
        - '#Call to .+ on an unknown class Mobi_Mtld_DA_Api\.#'
        - '#Call to an undefined method .+\.#'
        - '#Call to an undefined static method .+\.#'
        - '#Class .+ constructor invoked with [\d]+ parameters?, .+ required\.#'
        - '#Class .+ does not have a constructor and must be instantiated without any parameters\.#'
        - '#Class .+ not found\.#'
        - '#Constructor of class .+ has an unused parameter .+.#'
        - '#Function .+ invoked with [\d] parameters?, .+ required\.#'
        - '#Function .+ not found\.#'
        - '#Instantiated class .+ not found\.#'
        - '#Method .+ invoked with [\d]+ parameters?, .+ required\.#'
        - '#Parameter .+ has invalid typehint type TeraWurfl\.#'
        - '#Parameter .+ has invalid typehint type Zend_Pdf_Element_LayoutBox\.#'
        - '#Parameter .+ has invalid typehint type ZendApi_Job\.#'
        - '#Property .+ has unknown class Memcache as its type\.#'
        - '#Property .+ has unknown class ZendApi_Job as its type\.#'
        - '#Property .+ has unknown class ZendApi_Queue as its type\.#'
        - '#Property .+ has unknown class WeakRef as its type\.#'
        - '#Result of method .+ \(void\) is used\.#'
        - '#Result of static method .+ \(void\) is used\.#'
        - '#Return typehint of method .+ has invalid type ZendApi_Job\.#'
        - '#Static method .+ invoked with [\d]+ parameters?, .+ required\.#'
        - '#Undefined variable: .+#'
        - '#Using \$this in static method .+\.#'
        # Level 1 errors that require code changes
        - '#Variable \$.+ might not be defined\.#'
        - '#Variable \$.+ in isset\(\) always exists and is not nullable\.#'
        - '#Variable \$.+ in isset\(\) is never defined\.#'
        - '#Constant [A-Z0-9_]+ not found\.#'
        - '#Constant this not found\.#'
        # Level 2 errors that require code changes (or missing extensions/third party libs)
        - '#Access to property .+ on an unknown class TeraWurfl\.#'
        - '#Call to method .+ on an unknown class Archive_Tar\.#'
        - '#Call to method .+ on an unknown class Memcache\.#'
        - '#Call to method .+ on an unknown class Memcached\.#'
        - '#Call to method .+ on an unknown class TeraWurfl\.#'
        - '#Call to method .+ on an unknown class tidy\.#'
        - '#Call to method .+ on an unknown class WeakRef\.#'
        - '#Call to method .+ on an unknown class ZendApi_Job\.#'
        - '#Call to method .+ on an unknown class ZendApi_Queue\.#'
        - '#Call to method getQueryUrl\(\) on an unknown class Query\.#'
        - '#Cannot access property \$commands on array\.#'
        - '#Cannot access property \$description on array\.#'
        - '#Cannot access property \$footers on array\.#'
        - '#Cannot access property \$headers on array\.#'
        - '#Cannot call method __toString\(\) on stdClass\.#'
        - '#Cannot call method closeFileHandle\(\) on string\.#'
        - '#Cannot call method errorInfo\(\) on resource\.#'
        - '#Cannot call method exec\(\) on resource\.#'
        - '#Cannot call method getRdnString\(\) on array\.#'
        - '#Cannot call method read\(\) on string\.#'
        - '#PHPDoc tag @param references unknown parameter \$args#'
        - '#PHPDoc tag @param references unknown parameter \$charSet#'
        - '#PHPDoc tag @param references unknown parameter \$content#'
        - '#PHPDoc tag @param references unknown parameter \$locale#'
        - '#PHPDoc tag @param references unknown parameter \$script#'
        # Level 3 errors that require code changes or are false positives
        - '#Argument of an invalid type APCIterator supplied for foreach, only iterables are supported\.#'
        - '#Argument of an invalid type object supplied for foreach, only iterables are supported\.#'
        - '#Cannot call method normalize\(\) on null\.#'
        - '#Cannot call method sumOfSquaredWeights\(\) on null\.#'
        - '#Cannot clone non-object variable \$sxe of type DOMDocument\|false\|SimpleXMLElement\.#'
        - '#Invalid array key type callable\.#'
        - '#Method .+ with return type void returns void but should not return anything\.#'
        - '#Method Zend_Amf_Adobe_Introspector::_phpTypeToAS\(\) should return string but returns false\|string\.#'
        - '#Method Zend_Amf_Parse_Amf0_Deserializer::readXmlString\(\) should return false\|SimpleXMLElement but returns DOMDocument\|false\|SimpleXMLElement\.#'
        - '#Method Zend_Amf_Parse_Amf3_Deserializer::readXmlString\(\) should return false\|SimpleXMLElement but returns DOMDocument\|false\|SimpleXMLElement\.#'
        - '#Method Zend_Cloud_DocumentService_Adapter_SimpleDb::select\(\) should return Zend_Cloud_DocumentService_Adapter_SimpleDb_Query but returns object\.#'
        - '#Method Zend_Cloud_DocumentService_Adapter_WindowsAzure::select\(\) should return Zend_Cloud_DocumentService_Query but returns object\.#'
        - '#Method Zend_Cloud_StorageService_Factory::getAdapter\(\) should return Zend_Cloud_StorageService_Adapter but returns Zend_Cloud_DocumentService_Adapter\|Zend_Cloud_QueueService_Adapter\|Zend_Cloud_StorageService_Adapter\.#'
        - '#Method Zend_Controller_Action_Helper_ContextSwitch::_getViewRenderer\(\) should return Zend_Controller_Action_Helper_ViewRenderer but returns Zend_Controller_Action_Helper_Abstract\.#'
        - '#Method Zend_Date::.+ should return \$this but returns \$this->_calcvalue\(.+\)\.#'
        - '#Method Zend_Date::.+ should return \$this but returns \$this->_date\(.+\)\.#'
        - '#Method Zend_Date::.+ should return \$this but returns \$this->_day\(.+\)\.#'
        - '#Method Zend_Date::.+ should return \$this but returns \$this->_month\(.+\)\.#'
        - '#Method Zend_Date::.+ should return \$this but returns \$this->_time\(.+\)\.#'
        - '#Method Zend_Date::.+ should return \$this but returns \$this->_timestamp\(.+\)\.#'
        - '#Method Zend_Date::.+ should return \$this but returns \$this->_weekday\(.+\)\.#'
        - '#Method Zend_Date::.+ should return int but returns \$this\(Zend_Date\)\|int\.#'
        - '#Method Zend_Date::_timestamp\(\) should return \$this\(Zend_Date\)\|int but returns \$this\(Zend_Date\)\|int\|string\.#'
        - '#Method Zend_Db_Adapter_Pdo_Abstract::query\(\) should return Zend_Db_Statement_Pdo but returns Zend_Db_Statement_Interface\.#'
        - '#Method Zend_Filter_Input::_getFilter\(\) should return Zend_Filter_Interface but returns Zend_Filter_Interface\|Zend_Validate_Interface\.#'
        - '#Method Zend_Filter_Input::_getValidator\(\) should return Zend_Validate_Interface but returns Zend_Filter_Interface\|Zend_Validate_Interface\.#'
        - '#Method Zend_Gdata_.+::.+Entry\(\) should return string\|Zend_Gdata_.+Entry but returns string\|Zend_Gdata_App_Entry\.#'
        - '#Method Zend_Gdata_.+::.+Feed\(\) should return string\|Zend_Gdata_.+Feed but returns string\|Zend_Gdata_App_Feed\.#'
        - '#Method Zend_Gdata_.+::insert.+\(\) should return Zend_Gdata_.+Entry but returns Zend_Gdata_App_Entry\.#'
        - '#Method Zend_Gdata_.+::update.+\(\) should return Zend_Gdata_.+Entry but returns Zend_Gdata_App_Entry\.#'
        - '#Method Zend_Gdata_App::getEntry\(\) should return string\|Zend_Gdata_App_Entry but returns string\|Zend_Gdata_App_Feed\.#'
        - '#Method Zend_Layout::_initVarContainer\(\) should return Zend_View_Helper_Placeholder_Container but returns Zend_View_Helper_Placeholder_Container_Abstract\.#'
        - '#Method Zend_Ldap::filterEscape\(\) should return string but returns array\|string\.#'
        - '#Method Zend_Ldap_Node::searchSubtree\(\) should return Zend_Ldap_Node_Collection but returns Zend_Ldap_Collection\.#'
        - '#Method Zend_Mail_Part::__get\(\) should return string but returns array\|string\.#'
        - '#Method Zend_Navigation_Container::findBy\(\) should return \(iterable<Zend_Navigation_Page>&Zend_Navigation_Page\)\|null but returns array<Zend_Navigation_Page>\.#'
        - '#Method Zend_Rest_Client_Result::getIterator\(\) should return SimpleXMLIterator but returns bool\|SimpleXMLElement\.#'
        - '#Method Zend_Serializer::getDefaultAdapter\(\) should return Zend_Serializer_Adapter_AdapterInterface but returns string\|Zend_Serializer_Adapter_AdapterInterface\.#'
        - '#Method Zend_Server_Reflection_Node::__construct\(\) with return type void returns \$this\(Zend_Server_Reflection_Node\) but should not return anything\.#'
        - '#Method Zend_Service_Amazon_Ec2_Response::getDocument\(\) should return DOMDocument\|false but returns DOMDocument\|false\|SimpleXMLElement\.#'
        - '#Method Zend_Service_Amazon_SimpleDb_Response::getDocument\(\) should return DOMDocument\|false but returns DOMDocument\|false\|SimpleXMLElement\.#'
        - '#Method Zend_Service_Amazon_SimpleDb_Response::getSimpleXMLDocument\(\) should return false\|SimpleXMLElement but returns DOMDocument\|false\|SimpleXMLElement\.#'
        - '#Method Zend_Service_Audioscrobbler::_getInfo\(\) should return SimpleXMLElement but returns DOMDocument\|SimpleXMLElement\.#'
        - '#Method Zend_Service_Ebay_Finding::.+ should return Zend_Service_Ebay_Finding_Response_.+ but returns Zend_Service_Ebay_Finding_Response_Abstract\.#'
        - '#Method Zend_Service_Ebay_Finding::_parseResponse\(\) should return DOMDocument but returns DOMDocument\|false\|SimpleXMLElement\.#'
        - '#Method Zend_Service_ShortUrl_IsGd::unshorten\(\) should return string\|null but returns array\|string\|null\.#'
        - '#Method Zend_Service_SqlAzure_Management_Client::_parseResponse\(\) should return false\|SimpleXMLElement but returns DOMDocument\|false\|SimpleXMLElement\.#'
        - '#Method Zend_Service_WindowsAzure_Management_Client::_parseResponse\(\) should return false\|SimpleXMLElement but returns DOMDocument\|false\|SimpleXMLElement\.#'
        - '#Method Zend_Service_WindowsAzure_Storage::_parseResponse\(\) should return false\|SimpleXMLElement but returns DOMDocument\|false\|SimpleXMLElement\.#'
        - '#Method Zend_View_Helper_.+ with return type void returns mixed but should not return anything\.#'
        - '#Property PHPUnit\\DbUnit\\DataSet\\AbstractTable::\$data \(array\) does not accept Zend_Db_Table_Rowset_Abstract\.#'
        - '#Property Zend_Controller_Action_Helper_ActionStack::\$_actionStack \(Zend_Controller_Plugin_ActionStack\) does not accept array\|false\|Zend_Controller_Plugin_Abstract\.#'
        - '#Property Zend_Controller_Action_Helper_ContextSwitch::\$_viewRenderer \(Zend_Controller_Action_Helper_ViewRenderer\) does not accept Zend_Controller_Action_Helper_Abstract\.#'
        - '#Property Zend_Feed_Element::\$_element \(DOMDocument\|DOMElement\|string\) does not accept DOMDocument\|SimpleXMLElement\.#'
        - '#Property Zend_Filter_Encrypt_Mcrypt::\$_compression \(array\) does not accept array\|string\.#'
        - '#Property Zend_Filter_Encrypt_Openssl::\$_compression \(array\) does not accept array\|string\.#'
        - '#Property Zend_Http_Response::\$message \(string\) does not accept array\|string\.#'
        - '#Property Zend_Markup_Renderer_RendererAbstract::\$_group \(string\) does not accept string\|true\.#'
        - '#Property Zend_Pdf_Element_Stream::\$value \(Zend_Memory_Container\) does not accept Zend_Memory_Container_Interface\.#'
        - '#Property Zend_Rest_Client_Result::\$_sxml \(bool\|SimpleXMLElement\) does not accept DOMDocument\|false\|SimpleXMLElement\.#'
        - '#Property Zend_Service_Amazon_Ec2_Response::\$_document \(DOMDocument\|false\|null\) does not accept DOMDocument\|false\|SimpleXMLElement\.#'
        - '#Property Zend_Service_Amazon_SimpleDb_Response::\$_document \(DOMDocument\|false\|null\) does not accept DOMDocument\|false\|SimpleXMLElement\.#'
        - '#Property Zend_Service_Rackspace_Abstract::\$cdnUrl \(string\) does not accept array\|string\|null\.#'
        - '#Property Zend_Service_Rackspace_Abstract::\$managementUrl \(string\) does not accept array\|string\|null\.#'
        - '#Property Zend_Service_Rackspace_Abstract::\$token \(string\) does not accept array\|string\|null\.#'
        - '#Property Zend_Soap_Wsdl::\$_dom \(DOMDocument\) does not accept DOMDocument\|false\|SimpleXMLElement\.#'
        - '#Static property Zend_Navigation_Page_Mvc::\$_urlHelper \(Zend_Controller_Action_Helper_Url\) does not accept Zend_Controller_Action_Helper_Abstract\.#'
        # Level 4 errors that require code changes
        - '#Call to function is_float\(\) will always evaluate to false\.#'
        - '#Call to function is_null\(\) will always evaluate to false\.#'
        - '#Call to function is_numeric\(\) will always evaluate to false\.#'
        - '#Call to function is_string\(\) will always evaluate to false\.#'
        - '#Casting to .+ something that.s already .+\.#'
        - '#Invalid array key type array\|bool\|string\.#'
        - '#Method Zend_Db_Adapter_Pdo_Mssql::_quote\(\) should return string but returns float\|int\|string\.#'
        - '#Method Zend_Db_Adapter_Pdo_Sqlite::_quote\(\) should return string but returns float\|int\|string\.#'
        - '#Property Zend_Pdf_Style::\$_lineDashingPattern \(array\) does not accept array\|int\.#'
        - '#Strict comparison using !== between .+ and null will always evaluate to true\.#'
        - '#Strict comparison using !== between bool and int will always evaluate to true\.#'
        - '#Strict comparison using !== between null and .+ will always evaluate to true\.#'
        - '#Strict comparison using === between .+ and null will always evaluate to false\.#'
        - '#Strict comparison using === between DateTime and false will always evaluate to false\.#'
        - '#Strict comparison using === between null and .+ will always evaluate to false\.#'
