parameters:
    bootstrap: %rootDir%/../../../phpstan-bootstrap.php
    excludes_analyse:
        - 'library/Zend/EventManager/ResponseCollection.php'
        - 'library/Zend/Stdlib/SplPriorityQueue.php'
        - 'library/Zend/Tool/Framework/Provider/DocblockManifestable.php'
    ignoreErrors:
        # Level 0 errors that require code changes (or missing extensions/third party libs)
        - '#.+::__construct\(\) does not call parent constructor from .+\.#'
        - '#Access to an undefined property .+\.#'
        - '#Access to constant .+ on an unknown class Memcached\.#'
        - '#Array has [\d]+ duplicate keys with value .+\.#'
        - '#Call to .+ on an unknown class Mobi_Mtld_DA_Api\.#'
        - '#Call to an undefined method .+\.#'
        - '#Call to an undefined static method .+\.#'
        - '#Class .+ constructor invoked with [\d]+ parameters?, .+ required\.#'
        - '#Class .+ does not have a constructor and must be instantiated without any parameters\.#'
        - '#Class .+ not found\.#'
        - '#Constructor of class .+ has an unused parameter .+.#'
        - '#Function .+ invoked with [\d] parameters?, .+ required\.#'
        - '#Function .+ not found\.#'
        - '#Instantiated class .+ not found\.#'
        - '#Method .+ invoked with [\d]+ parameters?, .+ required\.#'
        - '#Parameter .+ has invalid typehint type TeraWurfl\.#'
        - '#Parameter .+ has invalid typehint type Zend_Pdf_Element_LayoutBox\.#'
        - '#Parameter .+ has invalid typehint type ZendApi_Job\.#'
        - '#Property .+ has unknown class Memcache as its type\.#'
        - '#Property .+ has unknown class ZendApi_Job as its type\.#'
        - '#Property .+ has unknown class ZendApi_Queue as its type\.#'
        - '#Result of method .+ \(void\) is used\.#'
        - '#Result of static method .+ \(void\) is used\.#'
        - '#Return typehint of method .+ has invalid type ZendApi_Job\.#'
        - '#Static method .+ invoked with [\d]+ parameters?, .+ required\.#'
        - '#Undefined variable: .+#'
        - '#Using \$this in static method .+\.#'
        # Level 1 errors that require code changes
        - '#Variable \$.+ might not be defined\.#'
        - '#Variable \$.+ in isset\(\) always exists and is not nullable\.#'
        - '#Variable \$.+ in isset\(\) is never defined\.#'
        - '#Constant [A-Z0-9_]+ not found\.#'
        - '#Constant this not found\.#'
        # Level 2 errors that require code changes (or missing extensions/third party libs)
        - '#Access to property .+ on an unknown class TeraWurfl\.#'
        - '#Call to method .+ on an unknown class Archive_Tar\.#'
        - '#Call to method .+ on an unknown class Memcache\.#'
        - '#Call to method .+ on an unknown class Memcached\.#'
        - '#Call to method .+ on an unknown class TeraWurfl\.#'
        - '#Call to method .+ on an unknown class tidy\.#'
        - '#Call to method .+ on an unknown class WeakRef\.#'
        - '#Call to method .+ on an unknown class ZendApi_Job\.#'
        - '#Call to method .+ on an unknown class ZendApi_Queue\.#'
        - '#Call to method getQueryUrl\(\) on an unknown class Query\.#'
        - '#Cannot access property \$commands on array\.#'
        - '#Cannot access property \$description on array\.#'
        - '#Cannot access property \$footers on array\.#'
        - '#Cannot access property \$headers on array\.#'
        - '#Cannot call method __toString\(\) on stdClass\.#'
        - '#Cannot call method closeFileHandle\(\) on string\.#'
        - '#Cannot call method errorInfo\(\) on resource\.#'
        - '#Cannot call method exec\(\) on resource\.#'
        - '#Cannot call method getRdnString\(\) on array\.#'
        - '#Cannot call method getTotalSize\(\) on string\.#'
        - '#Cannot call method read\(\) on string\.#'
        - '#PHPDoc tag @param references unknown parameter \$args#'
        - '#PHPDoc tag @param references unknown parameter \$charSet#'
        - '#PHPDoc tag @param references unknown parameter \$content#'
        - '#PHPDoc tag @param references unknown parameter \$locale#'
        - '#PHPDoc tag @param references unknown parameter \$script#'
